.add-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sale-container {
  border: 1px solid gray;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}

#itemtype-1{
background-color: #eaeaea;
color: black;
}

#itemtype-0{
background-color: #dadada;
color: black;
}
