.add-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sale-container {
  border: 1px solid gray;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}

#itemtype-1{
background-color: #eaeaea;
color: black;
}

#itemtype-0{
background-color: #dadada;
color: black;
}

#inventoryWelcome{
  font-size: .39cm;
  background-image: url("back1.jpg");
  background-size: contain;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
  height: 100%;
}

#saleWelcome {
  color: black;
  font-size: .37cm;
  background-image: url("back2.jpg");
  background-size: auto;
  background-repeat: repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  height: 100%;
}

#head1{
  color: rgb(156, 33, 33);
  font-size: .95cm;
  font-style:italic;
  font-weight:bold;
}

#head2{
  color: rgb(231, 110, 153);
  font-size: .95cm;
  font-style:italic;
  font-weight:bold;
}
